
h5{
    font-size: 20px;
    color: rgba(255,255,255,1);
    font-style: normal;
    font-family: "Dotum";
}
h5:hover{
    color: rgba(158, 152, 152, 1);
    text-shadow: 0 0 10px rgba(255,255,255,1);
}

html,
body {
    height: 100%;
    background:rgba(245, 245, 245, 1);
    padding: 10px;
    font-family: 'Dotum';
}
header {
    padding: 20px 0;
}
footer {
    position: absolute;
    width: 100%;
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 11px;
}


#footer {
    max-width: 960px;
    margin: auto;
    padding: 10px 0;
    height: 90px;
}
#footer-logo {
    float: right;
    margin-top: 20px;
    font-size: 12px;
    text-align: right;
}

*{
                            margin:0;
                            padding:0;
                        }

.slider{
    width:600px;
    position:relative;
    padding-top:400px;
    box-shadow:0 10px 20px -5px rgba(0,0,0,0.75);
    overflow:hidden;
    padding-bottom:20px;
}

.sp img{
    position:absolute;
    left:0;
    top:0;
}

.slider input[name='slide_switch']{
    display:none;
}

.slider label{
    margin:18px 0 0 18px;
    border:3px solid #999;
    float:left;
    cursor:pointer;
    transition:all 0.5s;
    opacity:0.6;
}

.slider label img{
    display:block;
    height:45px;
}

.slider input[name='slide_switch']:checked+label{
    border-color:#666;
    opacity:1;
}

.slider input[name='slide_switch']~span{
    opacity:0;
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}

.slider input[name='slide_switch']:checked+label+span{
    opacity:1;
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}

span{
    width:500px;
    position:absolute;
    left:50px;
    top:20px;
    height:370px;
    overflow:hidden;
    transition:all 0.5s;
}
