.text{
    font-family: "Gabriola";
    font-size: 20px;
    font-style: italic;
    color: white;
    text-shadow:0 0 10px black;
}
.item{
    background: #333;
    text-align: center;
    height: 350px !important;
}
.carousel{
    margin-top: 50px;
    margin-left: 41px;
}

h5{
    font-size: 20px;
    color: rgba(255,255,255,1);
    font-style: normal;
    font-family: "Dotum";
}
h5:hover{
    color: rgba(158, 152, 152, 1);
    text-shadow: 0 0 10px rgba(255,255,255,1);
}

html,
body {
    height: 100%;
    background:rgba(245, 245, 245, 1);
    padding: 10px;
    font-family: 'Dotum';
}

header {
    padding: 20px 0;
}
footer {
    position: absolute;
    width: 100%;
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 11px;
}


#footer {
    max-width: 960px;
    margin: auto;
    padding: 10px 0;
    height: 90px;
}
#footer-logo {
    float: right;
    margin-top: 20px;
    font-size: 12px;
    text-align: right;
}

H1{
    font: 39px Tahoma, sans-serif;
}

h3{
    font-size: 20px;
    color: rgba(0,0,0,1);
    font-style: normal;
}

.kk{
    font-size: 20px;
    color: rgba(100,100,100,1);
}

a{
    font-size: 18px;
    color: black;
    font-family: "Chiller";
}
a:hover{
    color:grey;
}