<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasktracker</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: url(https://st2.depositphotos.com/4431055/11856/i/600/depositphotos_118565578-stock-photo-blurred-office-background.jpg) no-repeat;
            background-size: cover;
            height: 100vh;
        }
    </style>
</head>

<body class="container">
    <h1>Пожалуйста, авторизуйтесь</h1>
    <h2 th:if="${error}" style="color: red">Неверный логин или пароль</h2>
<form action="#" method="post" th:action="@{/login}" th:object="${login_form}">
    <table>
        <tr>
            <td>Логин</td>
            <td><input type="text" th:field="*{login}" name="login"/></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><input type="password" th:field="*{password}" name="password"/></td>
        </tr>
        <tr>
            <td>Запомнить меня:</td>
            <td><input type="checkbox" name="remember-me" /></td>
        </tr>
    </table>
    <input type="submit" value="Авторизация" />
</form>
<a href="/register">Регистрация</a>
</body>
</html>