<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <title>TaskTracker</title>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">

</head>

<body>

<header>
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/profile"><h5>Профиль</h5></a></li>
                    <li><br><h5>|</h5></li>
                    <li><a href="/task_list"><h5>Доска</h5></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><h5>Выход</h5></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container" style="margin-top: 80px">

    <div class="col-md-12" style="margin-top: 40px; text-align: center; margin-bottom: 20px" >
        <div class="col-md-5">
            <h3 th:text="'Здравствуйте, ' + ${user.getName()} + '!'"></h3>
        </div>
    </div>

    <div class="row" style="margin-top: 80px">

        <div class="col-md-4">
            <img src="/img/add_user.png" width="317" height="317" style="margin-bottom: 20px; margin-left: 41px">
            <ul style="margin-top: 10px; margin-bottom: 40px">
                <li class="list-group-item"><p th:text="'Имя: ' + ${user.getName()}"></p></li>
                <li class="list-group-item"><p th:text="'Логин: ' + ${user.getLogin()}"></p></li>
            </ul>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-7" style="margin-top: 10px">
            <h3>Список моих задач</h3>
            <ul class ="list-group">
                <li th:each="task : ${all_tasks}" class ="list-group-item">
                    <a th:href="@{'/task/' + ${task.getId()}}" th:text="${task.getName()}"></a>
                </li>
            </ul>
        </div>

        <!--Доработка: Отображать в профиле пользователя созданные задания -->
        <div class="col-md-7" style="margin-top: 10px">
            <h3>Список созданных мной задач</h3>
            <ul class ="list-group">
                <li th:each="task : ${created_tasks}" class ="list-group-item">
                    <a th:href="@{'/task/' + ${task.getId()}}" th:text="${task.getName()}"></a>
                </li>
            </ul>
        </div>


    </div>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>

</body>

</html>