<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasktracker</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: url(https://st2.depositphotos.com/4431055/11856/i/600/depositphotos_118565578-stock-photo-blurred-office-background.jpg) no-repeat;
            background-size: cover;
            height: 100vh;
        }
    </style>
</head>

<body class="container">
<h1>Регистрация</h1>
<form action="#" method="post" th:action="@{/register}" th:object="${user}">
    <table>
        <tr>
            <td>Имя</td>
            <td><input type="text" th:field="*{name}" name="login"/></td>
        </tr>
        <tr>
            <td>Логин</td>
            <td><input type="text" th:field="*{login}" name="login"/></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><input type="password" th:field="*{password}" name="password"/></td>
        </tr>
    </table>
    <input type="submit" value="Регистрация" />
</form>
<a href="/login">Авторизация</a>
</body>
</html>