<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Название задачи</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
        body {
            font-family: Arial, sans-serif;
            background: url(https://st2.depositphotos.com/4431055/11856/i/600/depositphotos_118565578-stock-photo-blurred-office-background.jpg) no-repeat;
            background-size: cover;
            height: 100vh;
        }
    </style>
</head>

<header>
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/profile"><h5>Профиль</h5></a></li>
                    <li><br><h5>|</h5></li>
                    <li><a href="/task_list"><h5>Доска</h5></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><h5>Выход</h5></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>

<div class="container" style="margin-top: 70px">

    <div class="row">

        <form action="#" id="f1" method="post" th:action="@{'/task/update/' + ${task.getId()}}" th:object="${task_update_form}">
            <h1 style="margin-top: 40px;" align="center" th:text="${task.getName()}"></h1>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <h3>Название</h3>
                    <input type="text" name="name" id='name' required="" class="form-control" th:value="${task.getName()}"/>
                    <h3>Описание</h3>
                    <textarea name="description" id="description" required=""
                              class="form-control input-contrast comment-form-textarea field"
                              style="max-height: 233px; height: 160px;" th:value="${task.getDescription()}" th:text="${task.getDescription()}"></textarea>
                    <h3>Исполнитель</h3>
                    <select id="executorLogin" name="executorLogin" class="livesearch" style="width:350px;">
                        <option th:value="${task.getExecutor().getUsername()}" th:text="${task.getExecutor().getName()}">
                        <option th:each="user : ${all_users}" th:value="${user.getUsername()}" th:text="${user.getName()}">
                    </select>
                    <h3>Статус</h3>
                    <h3 th:if="${child_error != null}" th:text="${child_error}" style="color: red"></h3>
                    <select class="livesearch" name="taskStatus" id="taskStatus" style="width:350px;">
                        <option th:value="${task.getTaskStatus()}" th:text="${task.getTaskStatus()}">
                        <option th:each="status : ${all_statuses}" th:value="${status}" th:text="${status.name()}">
                    </select>
                    <h3>Приоритет</h3>
                    <select class="livesearch" name="priority" id="priority" style="width:350px;">
                        <option th:value="${task.getPriority()}" th:text="${task.getPriority()}">
                        <option th:each="priority : ${all_priorities}" th:value="${priority}" th:text="${priority.name()}">
                    </select>
                    <h3>Родительская задача</h3>
                    <select id="parentTaskId" name="parentTaskId" class="livesearch" style="width:350px;">
                        <option th:value="${task?.getParent()?.getId()}" th:text="${task?.getParent()?.getName()}">
                        <option th:each="parentTask : ${all_tasks}" th:value="${parentTask.getId()}"
                                th:text="${parentTask.getName()}">
                    </select>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <h3>Срок исполнения</h3>
                    <input id="deadlineDateTime" name="deadlineDateTime" th:value="${#temporals.format(task?.getDeadlineDateTime(), 'yyyy-MM-dd')}"
                           type="date" min="2020-01-01" max="2021-12-31">
                    <h3>Критерии приемки</h3>
                    <textarea id="acceptanceCriterion" name="acceptanceCriterion" required=""
                              class="form-control input-contrast comment-form-textarea field"
                              style="max-height: 233px; height: 160px;" th:value="${task.getAcceptanceCriterion()}" th:text="${task.getAcceptanceCriterion()}">
                    </textarea>
                    <h3 th:text="${'Автор задачи: ' + task.getCreator().getName()}"></h3>
                    <h3 th:text="${'Дата создания: ' + #temporals.format(task?.createDate, 'yyyy-MM-dd')}"></h3>
                    <h3 th:if="${task.updateDate != null}" th:text="${'Дата последнего обновления: ' + #temporals.format(task?.updateDate, 'yyyy-MM-dd')}"></h3>
                    <h3>Список дочерних задач:</h3>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="child : ${children}"><a th:href="@{'/task/' + ${child?.getId()}}" th:text="${child.getName()}"></a></li>
                    </ul>
                    <div class="row">
                        <div class="col-md-1" style="margin-bottom: 30px; margin-top: 40px">
                            <input type="submit" name="reg" id="reg" value="Сохранить изменения"
                                   class="btn btn-primary custom-btn-primary"/>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

            </div>

        </form>

    </div>

</div>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(".livesearch").chosen();
</script>

</body>

</html>