<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasktracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arbutus+Slab'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css'>
    <link rel="stylesheet" type="text/css" href="../static/css/Kanban.css" th:href="@{/css/Kanban.css}">

</head>
<body>
<div id="p1" class="mdl-progress mdl-js-progress"></div>
<script>
    document.querySelector('#p1').addEventListener('mdl-componentupgraded', function () {
        this.MaterialProgress.setProgress(44);
    });
</script>
<div class="kanban__title">
    <h1><i class="material-icons">check</i><a href="/task_list" style="text-decoration:none; color: black">Task tracker</a></h1></div>


<div id="popup1" class="overlay" style="z-index: 9999">
    <form action="#" id="f1" method="get" th:action="@{/task_list/search}" th:object="${search}">
        <div class="popup">
            <h2>Настройки выборки задач</h2>
            <a class="close" href="#">&times;</a>
            <div class="content" style="margin-bottom: 10px">
                Выберите пользователя:
            </div>
            <select th:field="*{executorLogin}" class="livesearch" style="width:350px; margin-bottom: 20px">
                <option th:each="user : ${all_users}" th:value="${user.getUsername()}"
                        th:text="${user.getName()}">
            </select>
            <div class="content" style="margin-top: 20px; margin-bottom: 10px">
                Выберите даты дедлайна:
            </div>
            <div class="row" style="margin-bottom: 40px">
                от:
                <input th:field="*{from}" type="date" id="start" name="trip-start" min="2020-01-01" max="2021-12-31">
                до:
                <input th:field="*{to}" type="date" id="end" name="trip-start" min="2020-01-01" max="2021-12-31">
            </div>
            <div class="row" align="center">
                <input type="submit" name="reg" id="reg" value="Отобразить задачи"
                       class="btn btn-primary custom-btn-primary"/>
            </div>
        </div>

    </form>
</div>

<div class="dd">

    <ol class="kanban To-do">
        <h2><i class="material-icons">attach_file</i> To do</h2>

        <li th:class="'dd-item ' +
        ${task.getPriority().name() == 'LOW' ? 'priority low' : (task.getPriority().name() == 'MIDDLE' ? 'priority middle' : 'priority high')}"
            data-id="4" th:each="task : ${current_user_tasks_todo}">

            <i th:if="${task.getIsParent() == true}" class=" material-icons ">filter_none</i>
            <h3 class="title dd-handle" th:text="${task.getName()}"></h3>

            <div class="text" contenteditable="false" th:text="${task.getDescription()}"></div>
            <div class="text" contenteditable="false" style="font-weight: bold" th:text="${'Исполнитель: ' + task.getExecutor().getName()}"></div>
            <div class="actions">
                <i class="material-icons" style="margin-right: 10px">
                    <a th:href="@{'/task/' + ${task.getId()}}">edit</a></i>

                <i th:if="${task.getIsExpired() == true}" class="material-icons" style="color: red">report_problem</i>
            </div>
        </li>

    </ol>

    <ol class="kanban progress">
        <h2><i class="material-icons">build</i> In progress</h2>

        <li th:class="'dd-item ' +
        ${task.getPriority().name() == 'LOW' ? 'priority low' : (task.getPriority().name() == 'MIDDLE' ? 'priority middle' : 'priority high')}"
            data-id="4" th:each="task : ${current_user_tasks_in_progress}">

            <i th:if="${task.getIsParent() == true}" class=" material-icons ">filter_none</i>
            <h3 class="title dd-handle" th:text="${task.getName()}"></h3>

            <div class="text" contenteditable="false" th:text="${task.getDescription()}"></div>
            <div class="text" contenteditable="false" style="font-weight: bold" th:text="${'Исполнитель: ' + task.getExecutor().getName()}"></div>

            <div class="actions">
                <i class="material-icons" style="margin-right: 10px">
                    <a th:href="@{'/task/' + ${task.getId()}}">edit</a></i>

                <i th:if="${task.getIsExpired() == true}" class="material-icons" style="color: red">report_problem</i>
            </div>
        </li>

    </ol>

    <ol class="kanban  Done">
        <h2><i class="material-icons">check_circle</i> Done</h2>
        <li th:class="'dd-item ' +
        ${task.getPriority().name() == 'LOW' ? 'priority low' : (task.getPriority().name() == 'MIDDLE' ? 'priority middle' : 'priority high')}"
            data-id="4" th:each="task : ${current_user_tasks_done}">

            <i th:if="${task.getIsParent() == true}" class=" material-icons ">filter_none</i>
            <h3 class="title dd-handle" th:text="${task.getName()}"></h3>

            <div class="text" contenteditable="false" th:text="${task.getDescription()}"></div>
            <div class="text" contenteditable="false" style="font-weight: bold" th:text="${'Исполнитель: ' + task.getExecutor().getName()}"></div>

            <div class="actions">
                <i class="material-icons" style="margin-right: 10px">
                    <a th:href="@{'/task/' + ${task.getId()}}">edit</a></i>

                <i th:if="${task.getIsExpired() == true}" class="material-icons" style="color: red">report_problem</i>
            </div>
        </li>
    </ol>

    <ol class="kanban InprogressFail">
        <!--Поменяли название столбца с 'In Progress Fail' на 'In Progress Expired' -->
        <h2><i class="material-icons">build</i> In Progress Expired</h2>

        <li th:class="'dd-item ' +
        ${task.getPriority().name() == 'LOW' ? 'priority low' : (task.getPriority().name() == 'MIDDLE' ? 'priority middle' : 'priority high')}"
            data-id="4" th:each="task : ${current_user_tasks_in_progress_fail}">

            <i th:if="${task.getIsParent() == true}" class=" material-icons ">filter_none</i>
            <h3 class="title dd-handle" th:text="${task.getName()}"></h3>

            <div class="text" contenteditable="false" th:text="${task.getDescription()}"></div>
            <div class="text" contenteditable="false" style="font-weight: bold" th:text="${'Исполнитель: ' + task.getExecutor().getName()}"></div>

            <div class="actions">
                <i class="material-icons" style="margin-right: 10px">
                    <a th:href="@{'/task/' + ${task.getId()}}">edit</a></i>

                <i th:if="${task.getIsExpired() == true}" class="material-icons" style="color: red">report_problem</i>
            </div>
        </li>

    </ol>

    <ol class="kanban Gone">
        <!--Поменяли название столбца с 'Failed' на 'Done expired' -->
        <h2><i class="material-icons">report_problem</i> Done expired</h2>

        <li th:class="'dd-item ' +
        ${task.getPriority().name() == 'LOW' ? 'priority low' : (task.getPriority().name() == 'MIDDLE' ? 'priority middle' : 'priority high')}"
            data-id="4" th:each="task : ${current_user_tasks_failed}">

            <i th:if="${task.getIsParent() == true}" class=" material-icons ">filter_none</i>
            <h3 class="title dd-handle" th:text="${task.getName()}"></h3>

            <div class="text" contenteditable="false" th:text="${task.getDescription()}"></div>
            <div class="text" contenteditable="false" style="font-weight: bold" th:text="${'Исполнитель: ' + task.getExecutor().getName()}"></div>

            <div class="actions">
                <i class="material-icons" style="margin-right: 10px">
                    <a th:href="@{'/task/' + ${task.getId()}}">edit</a></i>

                <i th:if="${task.getIsExpired() == true}" class="material-icons" style="color: red">report_problem</i>
            </div>
        </li>

    </ol>

    <ol class="kanban Waiting">
        <h2><i class="material-icons">delete</i> Waiting</h2>

        <li th:class="'dd-item ' +
        ${task.getPriority().name() == 'LOW' ? 'priority low' : (task.getPriority().name() == 'MIDDLE' ? 'priority middle' : 'priority high')}"
            data-id="4" th:each="task : ${current_user_tasks_waiting}">

            <i th:if="${task.getIsParent() == true}" class=" material-icons ">filter_none</i>
            <h3 class="title dd-handle" th:text="${task.getName()}"></h3>

            <div class="text" contenteditable="false" th:text="${task.getDescription()}"></div>
            <div class="text" contenteditable="false" style="font-weight: bold" th:text="${'Исполнитель: ' + task.getExecutor().getName()}"></div>

            <div class="actions">
                <i class="material-icons" style="margin-right: 10px">
                    <a th:href="@{'/task/' + ${task.getId()}}">edit</a></i>

                <i th:if="${task.getIsExpired() == true}" class="material-icons" style="color: red">report_problem</i>
            </div>
        </li>

    </ol>

</div>

<menu class="kanban">
    <a href="/profile" style="display: inline-block">
        <button><img src="/img/add_user.png" weigh="14px" height="14px"></button>
    </a>
    <form action="#popup1" style="display: inline-block">
        <button><i class="material-icons">settings</i></button>
    </form>
    <button class="viewkanban"><i class="material-icons ">view_column</i></button>
    <button class="viewlist"><i class="material-icons">view_list</i></button>
    <a href="/task/create" style="display: inline-block">
        <button><i class="material-icons">playlist_add</i>Add new Task</button>
    </a>

</menu>
<!-- partial -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js'></script>
<script src="/js/Kanban.js"></script>

</body>
</html>
