<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Новая задача</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <!--    <link rel="stylesheet" type="text/css" href="NewTask.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background: url(https://st2.depositphotos.com/4431055/11856/i/600/depositphotos_118565578-stock-photo-blurred-office-background.jpg) no-repeat;
            background-size: cover;
            height: 100vh;
        }
    </style>
</head>

<header>
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/profile"><h5>Профиль</h5></a></li>
                    <li><br><h5>|</h5></li>
                    <li><a href="/task_list"><h5>Доска</h5></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><h5>Выход</h5></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>

<div class="container" style="margin-top: 70px">

    <div class="row">

        <form action="#" id="f1" method="post" th:action="@{/task/create}" th:object="${task}">

            <div class="row">

                <div class="col-md-4"></div>

                <div class="col-md-4">
                    <h1 style="margin-top: 40px">Новая задача</h1>
                    <h3>Название</h3>
                    <input type="text" name="name" th:field="*{name}" class="form-control"/>
                    <h3>Описание</h3>
                    <textarea th:field="*{description}" name="about" id="about" required=""
                              class="form-control input-contrast comment-form-textarea field"
                              style="max-height: 233px; height: 160px;"></textarea>
                    <h3>Исполнитель</h3>
                    <select th:field="*{executorLogin}" class="livesearch" style="width:350px;">
                        <option th:each="user : ${all_users}" th:value="${user.getUsername()}"
                                th:text="${user.getName()}">
                    </select>
                    <h3>Приоритет</h3>
                    <select th:field="*{priority}" class="livesearch" style="width:350px;">
                        <option th:each="priority : ${all_priorities}" th:value="${priority}"
                                th:text="${priority.name()}">
                    </select>
                    <h3>Родительская задача</h3>
                    <select th:field="*{parentTaskId}" class="livesearch" style="width:350px;">
                        <option th:value="${null}" th:text="Нет">
                        <option th:each="parentTask : ${all_tasks}" th:value="${parentTask.getId()}"
                                th:text="${parentTask.getName()}">
                    </select>
                    <h3>Срок исполнения</h3>
                    <input th:field="*{deadlineDateTime}" type="date" id="start" name="trip-start" min="2020-01-01"
                           max="2021-12-31">
                    <h3>Критерии приемки</h3>
                    <textarea th:field="*{acceptanceCriterion}" name="control" id="control" required=""
                              class="form-control input-contrast comment-form-textarea field"
                              style="max-height: 233px; height: 160px;"></textarea>
                    <div class="row">
                        <div class="col-md-1" style="margin-bottom: 30px; margin-top: 40px">
                            <input type="submit" name="reg" id="reg" value="Создать задачу"
                                   class="btn btn-primary custom-btn-primary"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(".livesearch").chosen();
</script>

</body>

</html>